@import 'https://fonts.googleapis.com/css2?family=Aclonica&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap';

.green {color:#65d856; font-weight:bold;}
.red {color:#c44c47; font-weight:bold;}
.white {color:#cadcd3; font-weight:bold;}
.yellow {color:#fbd892; font-weight:bold;}

table {
  width: 350px
}
table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 8px;
  text-align: center;
}
td.title {
  background-color: #dddddd;
}
td.list {
  text-align: left;
}
td > br {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
td > h3 {
  margin-bottom: 0 !important;
}
ul.in-card {
  margin-bottom: 0 !important;
}
li > br {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
li > b {
  margin-bottom: 0 !important;
}
li.in-table {
  margin-bottom: 8px;
}

.wy-grid-for-nav { position: static !important; }
.break-page { break-after: page; }

@media print {
  @page {
    margin-top: 1.5cm;
    margin-bottom: 1cm;
  }

  p {
      line-height: 20px;
      font-size: 14px;
      margin: 0 0 24px;
  }
  .rst-content .toctree-wrapper>p.caption,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  legend {
   margin-top:0;
   font-weight:700;
   font-family:Aclonica,Roboto Slab,ff-tisa-web-pro,Georgia,Arial,sans-serif;
  }
  body {
   font-family:Merriweather,Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
   font-weight:400;
   color:#404040;
   min-height:100%;
   background:#edf0f2
  }
}

.rst-content .toctree-wrapper>p.caption,
h1,
h2,
h3,
h4,
h5,
h6,
legend {
 margin-top:0;
 font-weight:700;
 font-family:Aclonica,Roboto Slab,ff-tisa-web-pro,Georgia,Arial,sans-serif;
}
body {
 font-family:Merriweather,Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
 font-weight:400;
 color:#404040;
 min-height:100%;
 background:#edf0f2
}

.wy-side-nav-search > div.version { color: #fcfcfc; }
.wy-side-nav-search > div.version > a { color: #fcfcfc; }
